.cli-window{
    height: 100%;
   overflow: auto;
   padding-bottom: 5rem;
   background-color: #504f4f6c;
  
   div[name=react-console-emulator]{
    height: 100%;
    background-color: transparent!important;
   }
  


}