.dock {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  // gap: 0.5rem;

  background-color: #9593936c;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);

  .icon {
    width: 4.25rem;
    padding: 0.625rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;

    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .icon:hover {
    transform: scale(1.25) translateY(-20%);
  }
  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: scale(1.1) translateY(-10%);
  }
}
